body{
  margin: 0
}

h1{
  margin: 0;
}
h2{
  margin: 0;
}
p{
  margin: 0;
}

:root {
    --base: 7vh;
    --contentScale: clamp(2px, 1.75vw, 1vh);
  }

@font-face {
  font-family: font;
  src: url('../fonts/main/Questrial-Regular.ttf');
}